*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Anek latin", sans-serif;
    
  

    
}

html, body{
    height: 100% ;
    width: 100% ;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: salmon; */
}

.navbar{
    height: 100px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.navpart1{
    display: flex;
    align-items: center;
    
}
.box1{
    font-size: 17px;
    border: 1.5px solid black;
    
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
}
.ri-menu-2-line{
    font-size: 16px;
    border: 1.5px solid black;
   
    padding: 5px 8px;
    border-radius: 50px;
    font-weight: 500;
    
}

.navpart2{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.navpart3 button{
    border: 1.5px solid rgb(0, 0, 0);
   
    padding: 5px 8px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    background-color: #ffffff;
}

#butt{
    border: none;
    color: white;
    background-color: red;
}


.main .clam {
    font-size: 190px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    
    
    
}
.main .clam #boot {
    font-weight: 300;
    font-style: italic;
}

.main .clam .image img {
    
    height: 440px;
    width: 350px;
    object-fit: cover;
    object-position: left top;
    border-radius: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%) rotate(-30deg);
    
    
}
.main .clam .image  #balac {
    
    height: 440px;
    width: 350px;
    object-fit: cover;
    object-position: 75% 50%;
    border-radius: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    transform: translate(-50%,-50%) rotate(-20deg);
    
}
.main .clam .image  #green {
    
    height: 440px;
    width: 350px;
    object-fit: cover;
    object-position: 75% 50%;
    border-radius: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%) rotate(-10deg);
    
    
}
.main .clam .image  #silver {
    
    height: 440px;
    width: 350px;
    object-fit: cover;
    object-position: 15% 50%;
    border-radius: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
    
}
